@font-face {
    font-family: DUNG;
    src: url("../font/DUNGRG.TTF");
}

html,body{
    max-width: 1280px;
    min-width: 640px;
    margin: 20px auto 0 auto;;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input{
    text-align: center;
}

.border{
    border: 2px solid black;
    border-radius: 5px;
}

.container-1{
    text-align: center;
    width: 34%;
    float: left;
    margin: 0 1.5% 0 1.5%;
    padding: 0 1% 2.5% 1%;
    overflow: hidden;
}

.DD-font{
    font-family: DUNG;
    font-size: 3em;
}

.labels{
    width: 15%;
    float: left;
}

.inputs{
    width: 85%;
    float: left;
}

.input-field{
    width: 80%;
}

.container-2{
    width: 55%;
    float: left;
    text-align: center;
    padding: 2.5% 1% 1.5% 1%;
    margin: 0 1.5% 0 1.5%;
    overflow: hidden;
}

.sub-container{
    float: left;
    text-align: center;
    width: 33.3333333333%;
}

.container-3{
    width: 95%;
    padding: 2.5% 1% 1.5% 1%;
    margin: 2.5% auto 0 auto;
    text-align: center;
    overflow: hidden;
}
.container-4{
    width: 20%;
    margin: 2.5% 1.5% 0 1.5%;
    text-align: center;
    float: left;
}
.sub-container4-1{
    padding-top: 5%;  
}

.sub-container4-2{
    text-align: center;
    margin-top: 2%;
    padding-bottom: 4%;
    overflow: hidden;
}

.title{
    font-weight: bold;
}

.sub-throws{
    padding-top: 5%;
}

.label-throws{
    float: left;
    width: 40%;
    margin: 2.5% 0 0 10%;
}

.input-throws{
    float: left;
    width: 40%;
    margin: 0 10% 0 0;
}

.input-throws-field{
    width: 50%;
}

.atrib-container{
    width: 14.666666666666%;
    float: left;
    margin: 0 1%;
}

.container-5{
    width: 30%;
    margin: 2.5% 1.5% 0 1.5%;
    text-align: center;  
    float: left;  
}

.sub-container-5-1{
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}

.sub-container-5-2{
    width: 94%;
    margin: 2.5% 2.5% 0 2.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.sub-cont-5-input{
    width: 60%;
}

.armor-div{
    width: 30%;
    margin: 0 2.5% 0 0;
    padding-top: 2.5%;  
    float: left;
}

.maxhp-div{
    width: 30%;  
    float: left;
    padding-top: 2.5%;
}

.temphp-div{
    width: 30%;
    margin: 0 0 0 2.5%;
    padding-top: 2.5%; 
    float: right;  
}

.big-input{
    font-size: 2em;
    width: 90%;
    margin-bottom: 2.5%;
}

.container-6{
    float: left;
    width: 43%;
    margin: 2.5% 0 0 1%;
    text-align: center;
}

.container-6-1{
    padding: 2.5% 0 2.5% 0;
}

.pre-d{
    float: left;
    width: 19%;
    margin-left: 4%;
}

.d-title{
    float: left;
    margin: 2.5% auto;
    width: 19%;
}

.pos-d{
    width: 41%;
    float: left;
}

.sub-container-6-1{
    margin-top: 4%;
}

.container-6-2{
    margin-top: 2.5%;
    overflow: hidden;
    text-align: center;
}

.sub-container-6-2{
    width: 80%;
    margin: auto;
}

.title-death{
    float: left;
    width: 50%;
}

.check-death{
    margin-top: 10%;
    float: left;
}

.sub-container-6-a{
    float: left;
    width: 50%;
}

.sub-container-6-b{
    float: left;
    width: 45%;
    margin: 0 1.5% 0 1.5%;
    padding-top: 6%;
    padding-bottom: 5%;
    text-align: center;
    overflow: hidden;
}

.clearfix{
    clear: both;
}


@media screen and (max-width: 640px){
    html,body{
        width: 640px;
    }
    .container-1{
        width: 90%;
        float: none;
        margin: 0 auto 5% auto;
        margin-bottom: 5%;
    }
    .container-2{
        margin: 0 auto 5% auto;
        width: 90%;
        float: none;
    }
    .container-3{
        width: 90%;
        margin: 0 auto;
    }
    .clearfix-toggle{
        clear: both;
    }
    .atrib-container{
        width: 31.333333%;
    }
}

