<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D&D Character Sheet</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/character.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="../js/cookies.js"></script>
    <script src="../js/char.js"></script>
</head>

<body>
    <nav class="navbar">
        <a href="main.html">Main Page</a>
        <a id="save-char-a">Save</a>
        <a id="DeleteButton">Delete</a>
        <a id="gen-stats">Gen Attributes</a>
        <div class="clearfix"></div>
    </nav>
    <form id="char-form" class="main-body" onsubmit="Send();return false;">
        <button type="submit" id="form-button" style="display:none"></button>
        <div class="table">
            <!-- Nome e level -->
            <div class="container-1 border row">
                <img class="DD-logo" src="img/dndlogo3.png">
                <div class="DD-sub">
                    <div class="labels">Name: </div>
                    <input id="name" class="inputs" type="text" name="char_name" required>
                </div>
                <div class="clearfix"></div>
                <div class="DD-sub">
                    <div class="labels">Level: </div>
                    <input id="level" class="inputs" type="number" name="char_level" required>
                </div>
            </div>
            <div class="clearfix-toggle-640"></div>

            <!-- Dados do personagem -->
            <div class="container-2 border row">
                <div class="sub-container">
                    <input class="input-field" type="text" name="race_class" required>
                    <p>Race & Class</p>
                    <input class="input-field" type="text" name="exp" required>
                    <p>Experience Points</p>
                </div>
                <div class="sub-container">
                    <input class="input-field" type="text" name="background" required>
                    <p>Background</p>
                    <input class="input-field" type="text" name="alignment" required>
                    <p>Alignment</p>
                </div>
                <div class="sub-container">
                    <input class="input-field" type="text" name="player_name" required>
                    <p>Player Name</p>
                    <input class="input-field" type="text" name="adventure-ground" required>
                    <p>Adventuring Ground</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- Atributos -->
        <div class="container-3 border">
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="str">
                <p>Strenght</p>
            </div>
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="dex">
                <p>Dexterity</p>
            </div>
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="con">
                <p>Constitution</p>
            </div>
            <div class="clearfix-toggle-640"></div>
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="int">
                <p>Intelligence</p>
            </div>
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="wis">
                <p>Wisdom</p>
            </div>
            <div class="atrib-container">
                <p class="border atrib-labels">loren</p>
                <input class="input-field big-input" type="text" name="char">
                <p>Charisma</p>
            </div>
        </div>
        <!-- Inspiração e saving throws -->
        <div class="section-2 table break-table-960">
            <div class="container-4 row">
                <div class="sub-container4-1 border ">
                    <input class="input-field" type="text" name="inspi">
                    <p>Inspiration</p>
                    <input class="input-field" type="text" name="profbonus">
                    <p>Profiency Bonus</p>
                </div>
                <div class="sub-container4-2 border">
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-str">
                        </div>
                        <div class="label-throws">
                            Strenght
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="str-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-dex">
                        </div>
                        <div class="label-throws">
                            Dextery
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="dex-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-con">
                        </div>
                        <div class="label-throws">
                            Constitution
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="con-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-int">
                        </div>
                        <div class="label-throws">
                            Intelligence
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="int-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-wis">
                        </div>
                        <div class="label-throws">
                            Wisdom
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="wis-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-throws">
                        <div class="check-throws">
                            <input type="checkbox" name="check-char">
                        </div>
                        <div class="label-throws">
                            Charisma
                        </div>
                        <div class="input-throws">
                            <input class="input-throws-field" type="text" name="char-sav">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="title">Saving throws</p>
                </div>
            </div>
            <!-- HP -->
            <div class="container-5 row">
                <div class="sub-container-5-1">
                    <div class="armor-div border">
                        <input class="sub-cont-5-input" type="number" name="armor_class">
                        <p>
                            Armor
                            <br>Class
                        </p>
                    </div>
                    <div class="maxhp-div border">
                        <input class="sub-cont-5-input" type="number" name="max_hp">
                        <p>
                            Max
                            <br>HP
                        </p>
                    </div>
                    <div class="temphp-div border">
                        <input class="sub-cont-5-input" type="number" name="temp_hp">
                        <p>
                            Temp
                            <br>HP
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="sub-container-5-2 border">
                    <input class="big-input" type="number" name="current_hp"> Current HP
                </div>
                <div class="clearfix"></div>
                <div class="sub-container-5-3 border">
                    <div class="sub-sub-container-5-3">
                        <input class="pre-d" type="number" name="pre_d6">
                        <p class="d-title">d6</p>
                        <input class="pos-d" type="number" name="pos_d6">
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-sub-container-5-3">
                        <input class="pre-d" type="number" name="pre_d8">
                        <p class="d-title">d8</p>
                        <input class="pos-d" type="number" name="pos_d8">
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-sub-container-5-3">
                        <input class="pre-d" type="number" name="pre_d10">
                        <p class="d-title">d10</p>
                        <input class="pos-d" type="number" name="pos_d10">
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-sub-container-5-3">
                        <input class="pre-d" type="number" name="pre_d12">
                        <p class="d-title">d12</p>
                        <input class="pos-d" type="number" name="pos_d12">
                    </div>
                    <div class="clearfix"></div>
                    <p class="title">Hit Dice</p>
                </div>
                <div class="clearfix"></div>
                <div class="sub-container-5-4 border">
                    <input class="passive-input" type="number" name="passive-perc">
                    <p class="passive-p">Passive Perception</p>
                </div>
            </div>
            <div class="clearfix-toggle-640"></div>
            <div class="container-6 row">
                <div class="container-6-1 border">
                    <div class="sub-container-6-2">
                        <p class="title-death">Successes</p>
                        <input class="check-death" type="checkbox" name="succ-1">
                        <input class="check-death" type="checkbox" name="succ-2">
                        <input class="check-death" type="checkbox" name="succ-3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub-container-6-2">
                        <p class="title-death">Failures</p>
                        <input class="check-death" type="checkbox" name="fail-1">
                        <input class="check-death" type="checkbox" name="fail-2">
                        <input class="check-death" type="checkbox" name="fail-3">
                    </div>
                    <div class="clearfix"></div>
                    <p class="title">Death Saves</p>
                </div>

                <div class="container-6-2 border">
                    <input class="big-input" type="text" name="initiative">
                    <p>Initiative</p>
                    <input class="big-input" type="text" name="speed">
                    <p>Speed</p>
                    <input class="big-input" type="text" name="vision">
                    <p>Vision</p>
                </div>
            </div>
            <div class="clearfix-toggle-960"></div>
            <div class="container-7 border row">
                <div class="container-7-split">
                    <input class="other-prof" type="text" name="other_1">
                    <input class="other-prof" type="text" name="other_2">
                    <input class="other-prof" type="text" name="other_3">
                    <input class="other-prof" type="text" name="other_4">
                    <input class="other-prof" type="text" name="other_5">
                </div>
                <div class="clearfix-toggle-640"></div>
                <div class="container-7-split">
                    <input class="other-prof" type="text" name="other_6">
                    <input class="other-prof" type="text" name="other_7">
                    <input class="other-prof" type="text" name="other_8">
                    <input class="other-prof" type="text" name="other_9">
                    <input class="other-prof" type="text" name="other_10">
                </div>
                <div class="clearfix"></div>
                <p>Other Profiencies
                    <br> &
                    <br> Languages</p>
            </div>
            <div class="clearfix clearfix-disable-960"></div>
        </div>
        <!--section 3-->
        <div class="section-3 table break-table-960">
            <div class="container-8 border row">
                <div class="sub-container-8">
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-acro">
                        <input class="skill-input" type="text" name="input-acro">
                        <p class="skill-p">Acrobatics(dex)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-ah">
                        <input class="skill-input" type="text" name="input-ah">
                        <p class="skill-p">Animal Handling(wis)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-arca">
                        <input class="skill-input" type="text" name="input-arca">
                        <p class="skill-p">Arcana(int)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-ath">
                        <input class="skill-input" type="text" name="input-ath">
                        <p class="skill-p">Athletics(str)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-dec">
                        <input class="skill-input" type="text" name="input-dec">
                        <p class="skill-p">Deception(Char)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-his">
                        <input class="skill-input" type="text" name="input-his">
                        <p class="skill-p">History(int)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-ins">
                        <input class="skill-input" type="text" name="input-ins">
                        <p class="skill-p">Insight(wis)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-intim">
                        <input class="skill-input" type="text" name="input-intim">
                        <p class="skill-p">Intimidation(cha)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-inves">
                        <input class="skill-input" type="text" name="input-inves">
                        <p class="skill-p">Investigation(int)</p>
                    </div>
                </div>
                <div class="sub-container-8">
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-med">
                        <input class="skill-input" type="text" name="input-med">
                        <p class="skill-p">Medicine(wis)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-nat">
                        <input class="skill-input" type="text" name="input-nat">
                        <p class="skill-p">Nature(int)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-perc">
                        <input class="skill-input" type="text" name="input-perc">
                        <p class="skill-p">Perception(wis)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-Perf">
                        <input class="skill-input" type="text" name="input-perf">
                        <p class="skill-p">Performance(char)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-pers">
                        <input class="skill-input" type="text" name="input-pers">
                        <p class="skill-p">Persuasion(cha)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-rel">
                        <input class="skill-input" type="text" name="input-rel">
                        <p class="skill-p">Religion(int)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-soh">
                        <input class="skill-input" type="text" name="input-soh">
                        <p class="skill-p">Sleight of Hand(dex)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-steal">
                        <input class="skill-input" type="text" name="input-steal">
                        <p class="skill-p">Stealth(dex)</p>
                    </div>
                    <div class="skill-div">
                        <input class="check-skill" type="checkbox" name="check-surv">
                        <input class="skill-input" type="text" name="input-surv">
                        <p class="skill-p">Survival(wis)</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <p class="title">Skills</p>
            </div>
            <div class="clearfix-toggle-960"></div>
            <div class="container-9 border row">
                <div class="sub-container-9-1">
                    <p>Name</p>
                    <input class="equip-input-name" type="text" name="equip-name-1">
                    <input class="equip-input-name" type="text" name="equip-name-2">
                    <input class="equip-input-name" type="text" name="equip-name-3">
                    <input class="equip-input-name" type="text" name="equip-name-4">
                    <input class="equip-input-name" type="text" name="equip-name-5">
                    <input class="equip-input-name" type="text" name="equip-name-6">
                    <input class="equip-input-name" type="text" name="equip-name-7">
                    <input class="equip-input-name" type="text" name="equip-name-8">
                    <input class="equip-input-name" type="text" name="equip-name-9">
                </div>
                <div class="sub-container-9-2">
                    <p>Attack</p>
                    <input class="equip-input" type="text" name="equip-atk-1">
                    <input class="equip-input" type="text" name="equip-atk-2">
                    <input class="equip-input" type="text" name="equip-atk-3">
                    <input class="equip-input" type="text" name="equip-atk-4">
                    <input class="equip-input" type="text" name="equip-atk-5">
                    <input class="equip-input" type="text" name="equip-atk-6">
                    <input class="equip-input" type="text" name="equip-atk-7">
                    <input class="equip-input" type="text" name="equip-atk-8">
                    <input class="equip-input" type="text" name="equip-atk-9">
                </div>
                <div class="sub-container-9-3">
                    <p>Damage</p>
                    <input class="equip-input" type="text" name="equip-dam-1">
                    <input class="equip-input" type="text" name="equip-dam-2">
                    <input class="equip-input" type="text" name="equip-dam-3">
                    <input class="equip-input" type="text" name="equip-dam-4">
                    <input class="equip-input" type="text" name="equip-dam-5">
                    <input class="equip-input" type="text" name="equip-dam-6">
                    <input class="equip-input" type="text" name="equip-dam-7">
                    <input class="equip-input" type="text" name="equip-dam-8">
                    <input class="equip-input" type="text" name="equip-dam-9">
                </div>
                <div class="sub-container-9-4">
                    <p>Range</p>
                    <input class="equip-input" type="text" name="equip-range-1">
                    <input class="equip-input" type="text" name="equip-range-2">
                    <input class="equip-input" type="text" name="equip-range-3">
                    <input class="equip-input" type="text" name="equip-range-4">
                    <input class="equip-input" type="text" name="equip-range-5">
                    <input class="equip-input" type="text" name="equip-range-6">
                    <input class="equip-input" type="text" name="equip-range-7">
                    <input class="equip-input" type="text" name="equip-range-8">
                    <input class="equip-input" type="text" name="equip-range-9">
                </div>
                <div class="sub-container-9-5">
                    <p>Ammo</p>
                    <input class="equip-input" type="text" name="equip-ammo-1">
                    <input class="equip-input" type="text" name="equip-ammo-2">
                    <input class="equip-input" type="text" name="equip-ammo-3">
                    <input class="equip-input" type="text" name="equip-ammo-4">
                    <input class="equip-input" type="text" name="equip-ammo-5">
                    <input class="equip-input" type="text" name="equip-ammo-6">
                    <input class="equip-input" type="text" name="equip-ammo-7">
                    <input class="equip-input" type="text" name="equip-ammo-8">
                    <input class="equip-input" type="text" name="equip-ammo-9">
                </div>
                <div class="sub-container-9-6">
                    <p>Used</p>
                    <input class="equip-input" type="text" name="equip-used-1">
                    <input class="equip-input" type="text" name="equip-used-2">
                    <input class="equip-input" type="text" name="equip-used-3">
                    <input class="equip-input" type="text" name="equip-used-4">
                    <input class="equip-input" type="text" name="equip-used-5">
                    <input class="equip-input" type="text" name="equip-used-6">
                    <input class="equip-input" type="text" name="equip-used-7">
                    <input class="equip-input" type="text" name="equip-used-8">
                    <input class="equip-input" type="text" name="equip-used-9">
                </div>
                <div class="clearfix"></div>
                <p class="title">Attacks & Spellcasting</p>
            </div>
        </div>
        <div class="section-4 table break-table-960">
            <div class="container-10 border row">
                <div class="sub-container-10-11">
                    <input class="trait-inv-input" type="text" name="trait-1">
                    <input class="trait-inv-input" type="text" name="trait-2">
                    <input class="trait-inv-input" type="text" name="trait-3">
                    <input class="trait-inv-input" type="text" name="trait-4">
                    <input class="trait-inv-input" type="text" name="trait-5">
                    <input class="trait-inv-input" type="text" name="trait-6">
                    <input class="trait-inv-input" type="text" name="trait-7">
                    <input class="trait-inv-input" type="text" name="trait-8">
                    <input class="trait-inv-input" type="text" name="trait-9">
                </div>
                <div class="sub-container-10-11">
                    <input class="trait-inv-input" type="text" name="trait-10">
                    <input class="trait-inv-input" type="text" name="trait-11">
                    <input class="trait-inv-input" type="text" name="trait-12">
                    <input class="trait-inv-input" type="text" name="trait-13">
                    <input class="trait-inv-input" type="text" name="trait-14">
                    <input class="trait-inv-input" type="text" name="trait-15">
                    <input class="trait-inv-input" type="text" name="trait-16">
                    <input class="trait-inv-input" type="text" name="trait-17">
                    <input class="trait-inv-input" type="text" name="trait-18">
                </div>
                <div class="clearfix"></div>
                <p class="title">Features & Traits</p>
            </div>
            <div class="container-11 border row">
                <div class="sub-container-10-11">
                    <div class="inv-div">
                        <div class="inv-div-p">C</div>
                        <input class="inv-input" type="number" name="inv-div-c">
                    </div>
                    <div class="clearfix"></div>
                    <div class="inv-div">
                        <div class="inv-div-p">S</div>
                        <input class="inv-input" type="number" name="inv-div-s">
                    </div>
                    <div class="clearfix"></div>
                    <div class="inv-div">
                        <div class="inv-div-p">E</div>
                        <input class="inv-input" type="number" name="inv-div-e">
                    </div>
                    <div class="clearfix"></div>
                    <div class="inv-div">
                        <div class="inv-div-p">G</div>
                        <input class="inv-input" type="number" name="inv-div-g">
                    </div>
                    <div class="clearfix"></div>
                    <div class="inv-div">
                        <div class="inv-div-p">P</div>
                        <input class="inv-input" type="number" name="inv-div-p">
                    </div>
                    <div class="clearfix"></div>

                    <input class="trait-inv-input" type="text" name="inv-1">
                    <input class="trait-inv-input" type="text" name="inv-2">
                    <input class="trait-inv-input" type="text" name="inv-3">
                    <input class="trait-inv-input" type="text" name="inv-4">
                </div>
                <div class="sub-container-10-11">
                    <input class="trait-inv-input" type="text" name="inv-5">
                    <input class="trait-inv-input" type="text" name="inv-6">
                    <input class="trait-inv-input" type="text" name="inv-7">
                    <input class="trait-inv-input" type="text" name="inv-8">
                    <input class="trait-inv-input" type="text" name="inv-9">
                    <input class="trait-inv-input" type="text" name="inv-10">
                    <input class="trait-inv-input" type="text" name="inv-11">
                    <input class="trait-inv-input" type="text" name="inv-12">
                    <input class="trait-inv-input" type="text" name="inv-13">
                </div>
                <div class="clearfix"></div>
                <p class="title">Inventory & Equipment</p>
            </div>
        </div>
    </form>
        <!-- Modal HTML embedded directly into document -->
        <div id="ex" class="modal">
            <p id="result"></p>
        </div>
</body>

</html>