<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D&D Login</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/cookies.js"></script>
    <script src="../js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
    <form class="border-login login-box" onsubmit="verifyLogin();return false;">
        <img class="DD-logo" src="img/dndlogo3.png">
        <div class="login-form">
            <div class="login-label">
                <label>Login</label>
                <label>Password</label>
            </div>
            <div class="login-input">
                <input name="login" type="text" required>
                <input name="pass" type="password" required>
            </div>
            <div class="clearfix"></div>
            <div class="login-button">
                <button type="submit">Login</button>
                <button onclick="location.href='register.html';" type="button">Create</button>
            </div>
        </div>
    </form>
    <!-- Modal HTML embedded directly into document -->
    <div id="ex" class="modal">
        <p id="result"></p>
    </div>
</body>

</html>