<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D&D Main</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/char.js"></script>
</head>

<body>
    <div class="main-div border">
        <h2 class="main-title">Characters</h2>

        <div class="main-create">
            <button>Create new character</button>
        </div>

        <div class="main-table">

            <!--TEMPLATE DE ENTRADA-->
            <label>Doberval</label>
            <label>Lv 99</label>
            <div>
                <button>Alter</button>
            </div>
            <div>
                <button>Remove</button>
            </div>

            <!--TEMPLATE DE ENTRADA-->
            <label>Doberval</label>
            <label>Lv 99</label>
            <div>
                <button>Alter</button>
            </div>
            <div>
                <button>Remove</button>
            </div>

            <!--TEMPLATE DE ENTRADA-->
            <label>Doberval</label>
            <label>Lv 99</label>
            <div>
                <button>Alter</button>
            </div>
            <div>
                <button>Remove</button>
            </div>

            <!--TEMPLATE DE ENTRADA-->
            <label>Doberval</label>
            <label>Lv 99</label>
            <div>
                <button>Alter</button>
            </div>
            <div>
                <button>Remove</button>
            </div>

        </div>
    </div>

</body>

</html>