<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D&D Register</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/register.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
<form class="register-form border" onsubmit="registerUser();return false;">

    <h2 class="register-title DD-font">Register</h2>

    <div class="register-fields">
        <label>Login</label>
        <input type="text" required="required" name="login">
        <label>Email</label>
        <input type="email" required="required" name="email">
        <label>Password</label>
        <input type="password" required="required" name="password">
        <div class="register-button">
            <button type="submit">Register</button>
        </div>
    </div>
</form>

<!-- Modal HTML embedded directly into document -->
<div id="ex" class="modal">
    <p id="result">lorem</p>
  </div>
</body>

</html>